= "Welcome to #{@app_name}!"

= "Hi #{@user.name.present? ? @user.name : 'there'},"

= "We're thrilled to have you join our community! Your account has been successfully created and you're all set to start exploring everything #{@app_name} has to offer."

Here's what you can do next:

• Explore your dashboard and customize your profile
• Connect with other users in our community  
• Take advantage of our powerful features
• Reach out to our support team if you need any help

= "Get started by visiting: #{AppConstants::APP_URL}/dashboard"

Need help getting started? We're here for you!
= "Contact our support team: #{AppConstants::SUPPORT_EMAIL}"

---
= AppConstants::COMPANY_NAME
- if AppConstants::COMPANY_ADDRESS.present?
  = AppConstants::COMPANY_ADDRESS

= "You received this email because you created an account with #{AppConstants::COMPANY_NAME}."
= "Questions? Contact us at #{AppConstants::SUPPORT_EMAIL}"