= "Welcome to #{@app_name}!"

= "Hi #{@user.name.present? ? @user.name : 'there'},"

= "We're thrilled to have you join our community! Your account has been successfully created and you're all set to start exploring everything #{@app_name} has to offer."

Here's what you can do next:

• Explore your dashboard and customize your profile
• Connect with other users in our community  
• Take advantage of our powerful features
• Reach out to our support team if you need any help

= "Get started by visiting: #{ENV.fetch('APP_URL', 'http://localhost:3000')}/dashboard"

Need help getting started? We're here for you!
= "Contact our support team: #{ENV.fetch('SUPPORT_EMAIL', 'support@example.com')}"

---
= "#{ENV.fetch('COMPANY_NAME', ENV.fetch('APP_NAME', 'RapidRails'))}"
- if ENV.fetch('COMPANY_ADDRESS', nil).present?
  = ENV.fetch('COMPANY_ADDRESS')

= "Privacy Policy: #{ENV.fetch('APP_URL', 'http://localhost:3000')}/privacy"
= "Terms of Service: #{ENV.fetch('APP_URL', 'http://localhost:3000')}/terms"
= "Unsubscribe: #{ENV.fetch('APP_URL', 'http://localhost:3000')}/unsubscribe"

= "You received this email because you created an account with #{ENV.fetch('COMPANY_NAME', ENV.fetch('APP_NAME', 'RapidRails'))}."
= "Questions? Contact us at #{ENV.fetch('SUPPORT_EMAIL', 'support@example.com')}"